body {
    padding: 0px;
    color: orange;
    
    background-color: black;
    margin: 0 auto;
}
a {
    color: white;
}
a:hover {
    color: orange;
}
ul {
    list-style-type: none;
}
.banner-div {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner-div > h1 {
    font-size: 42px;
}
.navbar {
    display: flex;
    background-color: grey;
    height: 100px; 
    font-size: 24px; 
    justify-content: center;
    align-items: center;
    
}
.navbar > ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}
.navbar > ul > button {
    margin: 10px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: orange;
    color: white;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar > ul > button:hover {
    background-color: black;
    border-radius: 2px;
    border: 1px white solid;
}
.repo-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    background-position:50% 50%;
    background-image: url('img/codescreen.jpg');
    background-repeat: no-repeat;
    padding: 0px;
    justify-content:center;
    border: solid 5px red;
    margin: 0 auto;
    max-width: 1200px;
    
}
.repo-grid > li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F2027;
    text-align: center;
    width: 130px;
    border: solid 3px white;
    border-radius: 2px;
    margin: 10; 
    
}
.repo-grid > li > ul {
    padding: 10px;
    flex: 1;
    align-content: center;
}
#app {
    margin: 0;
    align-items: center;
    border: solid 5px blue;
      
}
