body {
    margin: 0 auto;
    background-color: antiquewhite
}
ul {
    list-style-type: none;
}
#banner-div {
    background-color: grey;
    margin: 0 auto;
    text-align: center;
}
#navbar {
    background-color: grey;    
}
#nav-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}
#nav-ul > li {
    flex: 1;
    text-align: center;
}